<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>htmlforms</title>
</head>
<body>

    <center>
    <h1>HTMLFORMS</h1>
    <form method="get">
        <label for="un">UserName</label>
        <input type="text" name="un" id="un"> <br> <br>

        <label for="pw">Password</label>
        <input type="password" name="pw" id="pw"> <br> <br>

        <label for="pw">Email</label>
        <input type="text" name="email" id="email"> <br><br>

        <input type="Submit">
    </form>
</center>
</body>
</html>